.map {}

.map__content {
    position: relative;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    border-radius: 10px;
    transition: all .5s;
}

.map__content-container {
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
}

.map__content-container-iframe {
    width: 100%;
    height: 100%;
    min-height: 450px;
    border: none;
    position: relative;
    display: none;
}

.map__content-container-img {
    max-width: 100%;
   height: 100%;
    cursor: pointer;
    object-fit: none;
    object-position: center;
    border-radius: 8px;
}


.map__content-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    z-index: 5;
    width: calc(100% - 58px);
    min-height: 116px;
    background-color: var(--col-black-light);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    transform: translateY(-100px) translateX(28px);
    transition: all .5s;
}

.map__content-container_active~.map__content-infos {
    transform: translateY(0) translateX(28px);
}

.map__content-info:first-of-type {
    max-width: 325px;
}

.map__content-info:last-of-type {
    max-width: 157px;
}

.map__content-info-head {

    font-size: 14px;
    font-weight: 300;
    line-height: 17.64px;
    text-align: left;
    color: var(--col-grey);
    display: flex;
    align-items: center;
    gap: 10px;

}

.map__content-info-body {

    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;


}

.map__content-info-head span {
    width: 6px;
    height: 6px;
    background-color: var(--col-green);
    border-radius: 50%;
    display: block;
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 800px) {
    .map__content {
        margin: 0 15px !important;
        min-height: 370px;
    }
    .map__content-container-img{
        height: 300px;
    }
    .map__content-container-iframe {
        min-height: 300px;
    }

    .map__content-infos {
        margin-top: 10px;
        width: 100%;
        height: auto;
        align-items: flex-start;
        transform: translateY(0) translateX(0) !important;
    }


}